wheel==0.45.1
celery==5.5.1
Django==5.2
django-redis==5.4.0
firebase-admin==6.7.0
graphene==3.4.3
graphene-django==3.2.3
graphene-gis==0.0.8
django-graphql-geojson==0.1.4
python-dateutil==2.9.0.post0
user_agents==2.2.0
django-leaflet==0.31.0
geopy==2.4.1
django-import-export==4.3.7
boto3==1.37.34
requests==2.32.3
google-api-python-client==2.167.0
azure-cognitiveservices-vision-face==0.6.1
gunicorn==20.1.0
flask==2.0.1
python-dotenv==1.0.0
psycopg[binary]==3.2.6
python-decouple==3.8
whitenoise==6.9.0
django-graphql-jwt