wheel
celery
channels
channels-redis
Django
django-channels-graphql-ws
django-redis
firebase-admin
graphene
graphene-django
graphene-gis
django-graphql-geojson
python-dateutil
user_agents
django-leaflet
geopy
django-import-export
boto3
requests
google-api-python-client
azure-cognitiveservices-vision-face