wheel
celery
Django
django-redis
firebase-admin
graphene
graphene-django
graphene-gis
django-graphql-geojson
python-dateutil
user_agents
django-leaflet
geopy
django-import-export
boto3
requests
google-api-python-client
azure-cognitiveservices-vision-face
gunicorn==20.1.0
flask==2.0.1
python-dotenv==1.0.0
psycopg[binary]==3.2.6
python-decouple==3.8