[Unit]
Description=Celery Worker for Confio
After=network-online.target postgresql.service redis-server.service
Wants=network-online.target postgresql.service redis-server.service

[Service]
Type=simple
User=www-data
WorkingDirectory=/opt/confio
Environment=DJANGO_SETTINGS_MODULE=config.settings
EnvironmentFile=/opt/confio/.env
ExecStart=/opt/confio/venv/bin/celery -A config worker --loglevel=INFO
Restart=always
RestartSec=5
TimeoutStartSec=30

[Install]
WantedBy=multi-user.target
