<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>730050241347-m60gqh7aahb818c6g7vb4jkpkl5iauld.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.730050241347-m60gqh7aahb818c6g7vb4jkpkl5iauld</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>730050241347-ft2v34hm2okng97rb4on37kr9qt9lbhp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAZ_KvLVZWuCoMDnnoxOW5tQ1hmLtMizb0</string>
	<key>GCM_SENDER_ID</key>
	<string>730050241347</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Confio.Confio</string>
	<key>PROJECT_ID</key>
	<string>confio-abbda</string>
	<key>STORAGE_BUCKET</key>
	<string>confio-abbda.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:730050241347:ios:218195dbdbf9713e9f45f6</string>
</dict>
</plist>