.btn {
    padding: 10px 25px;
    border-radius: 8px;
    outline: none;
    border: none;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    background: linear-gradient(136.14deg, #6D42C7 0%, #7C73E6 58.33%, #CE9FFC 123.07%);
  }
  
  .btn:hover {
    transform: translate(-2px, -2px);
    transform: scale(1.02);
  }
  .btn.active{
    color: #2E1C55;
    background: #fff;
    padding: 10px 25px;
    border-radius: 8px;
    outline: none;
    border: none;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
  }
  .btn.active:hover {
    transform: translate(-2px, -2px);
    transform: scale(1.02);
  }